---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@75..125,100..900&display=swap');

:root {
  --foreground: #222222;
  --background: #ffffff;
  --dark: #4a006f;
  --dark-alt: #3259b3;
  --light: #e4a5ff;
  --light-alt: #acdcff;
  --contrast: #F72585;
  --contrast-alt: #4CC9F0;
  --primary: #4361EE;
  --secondary: #3A0CA3;
  --tertiary: #7209B7;
  --yes: #06d6a0;
  --no: #ef476f;
  --alert: #ffc43d;
  --black: #000000;
  --white: #FFFFFF;
}  

body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: 18px;
  line-height: initial;
  padding: 0px;
}

body, h1, h1.header, h2, h3, h4, h5, h6, th {
  font-family: 'Archivo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: var(--dark-alt);
  text-decoration: underline dotted var(--light-alt) 1px;
  text-underline-offset: 0.18ch;
  font-weight: inherit;
}
a:hover, a:active, a:focus {
  opacity: 0.9;
}

a.buttons {
  background: url(../images/link.png) no-repeat;
  background-size: 15px !important;
  background-position-y: center !important;
  text-shadow: none;
}
a.ext {
  background: url(../images/extlink.png) no-repeat;
}
a.github {
  background: url(../images/github.png) no-repeat;
}
a.home {
  background: url(../images/home.png) no-repeat;
}

h1 {
  font-variation-settings: 'wdth' 125;
  color: var(--primary);
  font-size: 2em;
  border: 0px;
}
h1::after {
  content: "";
  display: block;
  height: 3px;
  background: linear-gradient(to right, var(--light) 0%, var(--light-alt) 100%);
  margin-top: 10px;
}
h1 + p strong:only-child {
  color: var(--dark);
  font-size: 1.5em;
  font-variation-settings: 'wdth' 75;
  font-weight: 500;
}

h2 {
  font-variation-settings: 'wdth' 125;
  color: var(--secondary);
  font-size: 1.8em;
}

h3 {
  color: var(--secondary);
  font-size: 1.7em;
}

h1.header, h4, h5, h6, th {
  font-variation-settings: 'wdth' 75;
}
h1.header {
  font-weight: 500;
  font-size: 1.8em;
}

h1.header::before {
  content: "HCNC";
  font-size: 0.75em;
  font-weight: 300;
  font-variation-settings: 'wdth' 125;
  color: var(--contrast);
  margin: 0px;
  display: block;
  line-height: 1.5em;
}
h1.header::after {
  height: 0px;
  background: none;
}

header, footer {
  border: 0px;
  width: 250px;
}
header {
  background: radial-gradient(ellipse at top left, var(--dark) 0%, var(--dark-alt) 60%, var(--contrast-alt) 90%, var(--light-alt) 100%);
  color: var(--white);
}
header li {
  height: auto;
  box-shadow: none;
  background: none;
  border: 3px solid var(--light-alt);
  border-radius: 3px;
  font-variation-settings: 'wdth' 75;
}
header li:active, header li:hover {
  background: none;
  border: 3px solid var(--contrast-alt);
}
header li a {
  text-decoration: none;
}

footer {
  color: var(--dark-alt);
  position: initial;
  margin-top: -30px;
}

footer + div {
  display: block;
  height: 50px;
  background: linear-gradient(to right, var(--contrast) 0%, var(--contrast-alt) 100%);
  margin: 30px 0px 0px 0px;  
}

section {
  line-height: 1.8em;
  max-width: 750px;
  min-height: calc(100vh - 100px);
  width: auto;
  margin: auto;
  float: none;
  padding: 30px 100px 30px 400px;
}

section p ~ ul, section p ~ ol {
  margin-top: -20px;
}

small {
  font-size: 0.8em;
}

.wrapper {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.strap {
  margin-bottom: -20px;
  line-height: 1em;
}
.strap a {
  display: inline-block;
  text-decoration: none;
  padding: 6px 6px 6px 7px;
  border: 3px solid var(--contrast);
  color: var(--contrast);
  border-radius: 3px;
  font-variation-settings: 'wdth' 75;
  text-transform: capitalize;
}
.strap a:hover, .strap a:active, .strap a:focus {
  border: 3px solid var(--light);
  color: var(--light);
}

table {
  border: 0px;
  border-spacing: 0px;
}

thead th {
  background: var(--tertiary);
  color: var(--white);
}

tbody td {
  background: none;
  border-bottom: 1px solid var(--light);
}
  
@media print, screen and (max-width: 960px) {
  header, footer {
    width: auto;
    margin: 0px;
    border-radius: 0px;
  }
  footer {
    padding: 20px 50px;
  }
  footer + div {
    height: 30px;
    margin: 0px;
  }
  header ul {
    right: 50px;
    top: 40px;
  }
  section {
    padding: 50px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    font-size: 16px;
  }
  header, footer {
    width: auto;
    margin: 0px;
    padding: 40px 20px 20px 20px;
  }
  section {
    padding: 50px 20px;
  }
}
