---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

:root {
  --foreground: #222222;
  --background: #ffffff;
  --primary: #00A0BC;
  --secondary: #FFB618;
  --tertiary: #6D435A;
  --black: #000000;
  --white: #FFFFFF;
  --yes: #6CE02D;
  --no: #FF241C;
  --alert: #FFE018;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: 16px;
}

body, h1, h1.header, h2, h3, h4, h5, h6, th {
  font-family: Archivo, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: var(--tertiary);
}
a:hover, a:active {
  opacity: 0.9;
}

h1 {
  font-variation-settings: 'wdth' 125;
  color: var(--primary);
}

h1.header, h4, h5, h6, th {
  font-variation-settings: 'wdth' 75;
  font-weight: 800;
}

h1.header::after {
  content: "(HCNC)";
  font-weight: 300;
  color: var(--secondary);
}

header {
  background-color: var(--tertiary);
  color: var(--white);
  border: 0px;
}
header li {
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  background: var(--primary);
}
