---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,75..125,100..900;1,75..125,100..900&display=swap');

:root {
  --foreground: #222222;
  --background: #ffffff;
  --dark: #4a006f;
  --dark-alt: #3259b3;
  --light: #e4a5ff;
  --light-alt: #acdcff;
  --contrast: #F72585;
  --contrast-alt: #4CC9F0;
  --primary: #4361EE;
  --secondary: #3A0CA3;
  --tertiary: #7209B7;
  --yes: #06d6a0;
  --no: #ef476f;
  --alert: #ffc43d;
  --black: #000000;
  --white: #FFFFFF;  
  --font-size--tiny: clamp(0.8rem, 1vw, 0.9rem);
  --font-size--small: clamp(0.9rem, 1.5vw, 1rem);
  --font-size--normal: clamp(1rem, 2vw, 1.15rem);
  --font-size--medium: clamp(1.1rem, 2.2vw, 1.25rem);
  --font-size--large: clamp(1.4rem, 2.5vw, 1.7rem);
  --font-size--x-large: clamp(1.5rem, 3vw, 2.4rem);
  --font-size--huge: clamp(2.2rem, 4vw, 3.2rem);
  --border-curve: 4px;
  --border-width: 2px;
  --border-cap: 6px;
}  

body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: var(--font-size--normal);
  line-height: initial;
  padding: 0px;
}

body, h1, h1.header, h2, h3, h4, h5, h6, th {
  font-family: 'Archivo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: var(--dark-alt);
  text-decoration: underline dotted var(--light-alt) 1px;
  text-underline-offset: 0.18ch;
  font-weight: inherit;
}
a:hover, a:active, a:focus {
  opacity: 0.9;
}

h1 {
  font-variation-settings: 'wdth' 125;
  color: var(--primary);
  font-size: var(--font-size--x-large);
  border: 0px;
}
h1::after {
  content: "";
  display: block;
  height: var(--border-cap);
  background: linear-gradient(to right, var(--light) 0%, var(--primary) 100%);
  margin-top: 10px;
  border-radius: var(--border-curve);
}
h1 + p strong:only-child, h1 + p.subtitle {
  color: var(--dark);
  font-size: var(--font-size--large);
  font-variation-settings: 'wdth' 75;
  font-weight: 500;
}
h1.cover + p strong:only-child, h1.cover + p.subtitle {
  margin: -18px 0px 30px 0px;
}
    
h2 {
  font-variation-settings: 'wdth' 125;
  color: var(--secondary);
  font-size: var(--font-size--large);
  border-color: var(--secondary);
}

h1 a, h2 a, h3 a {
  text-decoration: none;
  display: block;
  color: inherit;
}
h2 a::after, h2 a::after, h2 a::after {
  content: "\2192";
  display: inline-block;
  float: right;
}

h3 {
  color: var(--tertiary);
  font-size: var(--font-size--medium);
  border: none;
}

h1.header, h4, h5, h6, th {
  font-variation-settings: 'wdth' 75;
}
h1.header {
  font-weight: 500;
  font-size: var(--font-size--large);
}
h1.header::before {
  content: "HCNC";
  font-size: var(--font-size--medium);
  font-weight: 300;
  font-variation-settings: 'wdth' 125;
  color: var(--contrast);
  margin: 10px 0px 0px 0px;
  display: block;
  line-height: 1.5em;
}

h1.cover {
  height: 40vh;
  min-height: 3em;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: var(--border-curve);
  margin: 0px -20px 30px -20px;
  border-bottom: var(--border-cap) solid var(--contrast);
  background-size: cover;
  background-position: center center;
  background-color: var(--dark);
  color: var(--white);
  box-shadow: 0px -5px 3px -3px #00000044 inset;
  display: flex;
}
h1.cover span {
  align-self: flex-end;
}

h1.header::after, h1.cover::after {
  display: none;
}

header, footer {
  border: 0px;
  width: 300px;
  box-sizing: border-box;
}
header {
  background: radial-gradient(ellipse at top left, var(--dark) 0%, var(--dark-alt) 60%, var(--contrast-alt) 90%, var(--light-alt) 100%);
  color: var(--white);
  box-shadow: -4px 5px 3px -3px #00000033 inset;
  padding: 30px 30px 30px 50px;
  min-height: 40vh;
}

/*header li {
  height: auto;
  box-shadow: none;
  background: none;
  border: var(--border-width) solid var(--light-alt);
  border-radius: var(--border-curve);
  font-variation-settings: 'wdth' 75;
}
header li:active, header li:hover {
  background: none;
  border: var(--border-width) solid var(--contrast-alt);
}
header li a {
  text-decoration: none;
}*/

header li {
  height: auto;
  box-shadow: none;
  background: none;
  border: none;
  font-variation-settings: 'wdth' 75;
  padding: 0px;
  width: 150px;
}
header li:active, header li:hover {
  background: none;
}
header li a {
  text-decoration: none;
  border: var(--border-width) solid var(--light-alt);
  border-radius: var(--border-curve);
  padding: 6px;
  display: block;
}
header li a:active, header li a:hover, header li a:focus {
  border: var(--border-width) solid var(--contrast-alt);
}

header li a.buttons {
  background: url(../images/link.png) no-repeat;
  background-size: 15px !important;
  background-position-x: 7px !important;
  background-position-y: center !important;
  text-shadow: none;
  padding: 6px 6px 6px 28px;
  height: auto;
}
header li a.ext {
  background: url(../images/extlink.png) no-repeat;
}
header li a.github {
  background: url(../images/github.png) no-repeat;
}
header li a.home {
  background: url(../images/home.png) no-repeat;
}
p.header {
  font-size: var(--font-size--small);
}

footer {
  color: var(--dark-alt);
  position: initial;
  margin-top: -30px;
}

footer + div {
  display: block;
  height: 50px;
  background: linear-gradient(to bottom, #00000033 0%, #00000000 10%, #FFFFFF44 100%),linear-gradient(to right, var(--contrast) 0%, var(--contrast-alt) 100%);
  margin: 30px 0px 0px 0px;  
}

section {
  line-height: 1.8em;
  max-width: 750px;
  min-height: calc(100vh - 140px);
  width: auto;
  margin: auto;
  float: none;
  padding: 30px 100px 30px 400px;
}

section p + ul, section p + ol {
  margin-top: -20px;
}
section p em {
  color: var(--dark);
}

blockquote {
  margin: 0px 0px 22px 0px;
  padding: 10px 20px;
  font-style: normal;
  font-size: var(--font-size--small);
  background: var(--primary);
  border-radius: var(--border-curve);
  color: var(--white);
}
blockquote blockquote {
  border: var(--border-width) solid var(--light);
}
blockquote *:last-child {
  margin-bottom: 0px;
}
h1 + blockquote, p.subtitle + blockquote {
  background: var(--alert);
  color: var(--black);
  font-size: var(--font-size--medium);
  font-variation-settings: 'wdth' 75;
  font-weight: 500;
}

small {
  font-size: var(--font-size--tiny);
}

.wrapper {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.strap {
  margin-bottom: -20px;
  line-height: 1em;
}
.strap a, .strap span {
  display: inline-block;
  text-decoration: none;
  padding: 6px;
  margin-right: 3px;
  border-radius: var(--border-curve);
  font-variation-settings: 'wdth' 75;
  text-transform: capitalize;
}
.strap a {
  border: var(--border-width) solid var(--contrast);
  color: var(--contrast);
}
.strap a:hover, .strap a:active, .strap a:focus {
  border: var(--border-width) solid var(--light);
  color: var(--light);
}
.strap span {
  border: var(--border-width) solid var(--secondary);
  color: var(--secondary);
}
.strap.cover {
  margin-bottom: calc(-30px - 1em - 2 * var(--border-width));
  margin-top: 1em;
}
.strap.cover span {
  border: var(--border-width) solid var(--light-alt);
  color: var(--light-alt);
}


table {
  border: 0px;
  border-spacing: 0px;
  display: block;
  font-size: var(--font-size--small);
}

thead th {
  background: var(--tertiary);
  color: var(--white);
}

tbody td {
  background: none;
  border-bottom: 1px solid var(--light);
}
tbody tr:last-child td {
  border-bottom: var(--border-width) solid var(--tertiary);
}

thead, tbody, tfoot {
  white-space: normal;
  border-radius: var(--border-curve);
}

ul.bio {
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  justify-content: space-between;
  align-content: flex-start;
}
ul.bio > li {
  flex: auto;
  list-style: none;
  margin: 0px;
  padding: 20px;
  border-top: var(--border-cap) solid var(--contrast);
  color: var(--white);
  background: linear-gradient(to bottom, #00000033 0%, #00000000 2%), linear-gradient(to bottom right, var(--dark-alt), var(--tertiary));
  border-radius: var(--border-curve);
  box-sizing: border-box;
}
ul.bio > li > span {
  display: block;
  font-variation-settings: 'wdth' 75;
  font-size: var(--font-size--medium);
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 20px;
}
ul.bio > li > ul {
  padding: 0px;
  margin: 0px;
  font-size: var(--font-size--small);
}
ul.bio > li > ul > li {
  padding: 0px;
  margin: 5px 0px;
  display: block;
  line-height: 1.5em;
}
ul.bio li.buttons {
  display: inline-block;
  margin: 10px 3px 0px 0px;
  line-height: 1em;
}
ul.bio li.buttons a {
  text-decoration: none;
  padding: 6px 6px 6px 6px;
  border: var(--border-width) solid var(--white);
  color: var(--white);
  border-radius: 100%;
  background-size: 12px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  display: block;
  height: 6px;
  width: 6px;
}
ul.bio li.buttons a:hover, ul.bio li.buttons a:active, ul.bio li.buttons a:focus {
  border: var(--border-width) solid var(--contrast-alt);
}
ul.bio li.website a {
  background-image: url(../images/link.png);
}
ul.bio li.twitter a {
  background-image: url(../images/twitter.png);
}
ul.bio li.github a {
  background-image: url(../images/github.png);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 30px;
}
  
@media print, screen and (max-width: 960px) {
  header, footer {
    width: auto;
    margin: 0px;
    border-radius: 0px;
  }
  footer {
    padding: 20px 50px;
  }
  footer + div {
    height: 30px;
    margin: 0px;
  }
  header {
    box-shadow: 0px -4px 3px -3px #00000033 inset;
    min-height: auto;
  }
  header ul {
    right: 50px;
    top: 40px;
  }
  section {
    padding: 50px;
  }
  
  table {
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media print, screen and (max-width: 720px) {
  header, footer {
    width: auto;
    margin: 0px;
    padding: 20px;
  }
  section {
    padding: 50px 20px;
  }
  h1.cover {
    height: 20vh;
    border-radius: 0px;
    margin-top: -50px;
  }
  .strap.cover {
    margin-top: calc(-50px + 1em);
  }
}

@media print, screen and (min-width: 1600px) {
  section {
    padding: 30px 400px;
  }
}
